---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import type { GetStaticPaths } from "astro";
import { getEntry } from "astro:content";
import { getCollection } from "astro:content";

export const getStaticPaths: GetStaticPaths = async () => {
  const courses = await getCollection("courses");
  return courses.map((c) => {
    const parts = c.id.split("/");
    return { params: { year: parts[0], semester: parts[1], code: parts[2] } };
  });
};

const { year, semester, code } = Astro.params;
const lessons = await getCollection("docs");
const id = `${year}/${semester}/${code}/course`;
const course = await getEntry("courses", id);
if (!course) throw new Error(`course '${id}' not found`);
---

<StarlightPage frontmatter={{ tableOfContents: false, title: course.data.name }}>
  <h2>Professors</h2>

  <ul>
    {course.data.professors.map((p) => <li>{p}</li>)}
  </ul>

  <h2>Lessons</h2>

  <ul>
    {
      lessons
        .filter((l) => l.id.startsWith(`${year}/${semester}/${code}`))
        .map((l) => (
          <li>
            <a href={`/${l.id}`}>{l.data.title}</a>
          </li>
        ))
    }
  </ul>
</StarlightPage>
